In [1]:
# 写入文件
file_path = '/Users/daniel/mydata/llm/course/d2l-zh/tmp.csv'
with open(file_path,'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,NA,127500\n')              # 第一行数据
    f.write('3,Grvl,106000\n')          # 第二行数据
    f.write('4,Pave,178100\n')          # 第三行数据      # 第四行数据       # 第五行数据

In [ ]:
# 读取文件
import pandas as pd

df = pd.read_csv(file_path)
df.sample(3) # 随机读取3行
# df.dtypes # 每一列的数据类型
# df.describe() # 统计每一列的均值、标准差、最大值、最小值等

NumRooms    float64
Alley        object
Price         int64
dtype: object

In [9]:
# 处理缺失值，使用iloc
inputs,outputs = df.iloc[:,0:2],df.iloc[:,2]
# inputs,outputs
inputs = inputs.fillna(inputs.mean()) # 用均值填充缺失值
inputs

/var/folders/4f/n52_hf2539l4l6wk6_3hw4tw0000gn/T/ipykernel_64751/3361172201.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  inputs = inputs.fillna(inputs.mean()) # 用均值填充缺失值

   NumRooms Alley
0       3.5   NaN
1       3.0  Grvl
2       4.0  Pave

In [12]:
# 对于inputs中的类别值或离散值，我们将“NaN”视为一个类别
inputs = pd.get_dummies(inputs, dummy_na=True)
print(inputs)

   NumRooms  Alley_Grvl  Alley_Pave  Alley_nan
0       3.5           0           0          1
1       3.0           1           0          0
2       4.0           0           1          0

In [ ]:
# 现在，inputs和outputs的数据元素都是数值类型，可以转换为张量
import torch
x = torch.tensor(inputs.values).float() # 或者 torch.tensor(inputs.to_numpy(dtype=float))
y = torch.tensor(outputs.values).float()
# x, y
# --- IGNORE ---
torch.cat([x, y.reshape(3, 1)], 1) # 将x和y按列连结起来，方便查看，此处 y.reshape(3, 1)和y.reshape(-1, 1)等价

tensor([[3.5000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 1.2750e+05],
        [3.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 1.0600e+05],
        [4.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 1.7810e+05]])